.infinite-item {
  position: relative;
  width: 236px;
  padding: 0 0.5em;
  margin: 0 0 1em 0;

  .infinite-img{
    border-radius: 1em;
    width: 236px;
    max-height: 450px;
  }
}
.menu {
  opacity: 0.5;
}
