mat-toolbar {
  width: 100%;
  background-color: white;
  border-bottom: 0.5px solid #efefef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 12px 4px 12px;

  .header-text {
    font-weight: 700;
    font-size: 16px;
    color: #333;
  }

  .right {
    display: flex;
    align-items: center;
    flex-direction: row;

    button[mat-button] {
      border-radius: 20px;
    }

    .avatar-button {
      img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
      .username {
        color: #8E8E8E;
        padding: 0 8px 0 8px;
      }
    }

    .spacer {
      height: 30px;
      width: 15px;
      border-left: 2px solid #efefef;
      margin-left: 16px;
    }
  }
}
